@{
  Layout ="_Layout";
}

<h1>Welcome to the <strong>Best</Strong> Restaurants list from around the world!</h1>

<p>@Html.ActionLink("Pick a cusine", "Details", "Cuisine")</p>
<p>@Html.ActionLink("Select a Restaurant", "Index", "Restaurant")</p>