@{
  Layout ="_Layout";
}

<img class="splash" src='~/img/splash.png'/>
<br>
<p class="btn btn-primary">@Html.ActionLink("Pick a Cusine", "Index", "Cuisine")</p>
<p class="btn btn-primary">@Html.ActionLink("Select a Restaurant", "Index", "Restaurant")</p>
